* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}


.header {
  height: 40vh;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.profile-wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px dotted #d4a017;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}


.name-box {
  margin-top: 15px;
  background-color: #d4a017;
  color: #111;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 40px;
  letter-spacing: 2px;
}


.address {
  margin-top: 10px;
  font-size: 14px;
  color: #ddd;
  text-align: center;
}


.main-line {
  width: 100%;
  height: 2px;
  background-color: #d4a017;
}


.main {
  display: flex;
  padding: 30px 50px;
  gap: 40px;
  position: relative;
}


.left,
.right {
  width: 50%;
}


h2 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #d4a017;
  display: inline-block;
}


.skill {
  margin: 12px 0;
}

.skill span {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.bar {
  width: 100%;
  height: 8px;
  background: #ddd;
}

.fill {
  height: 100%;
  background: #d4a017;
}


.w80 {
  width: 80%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.main::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #d4a017;
}