.container {
    width: 800px;
    background: #fff;
    margin: 30px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.row {
    display: flex;
    gap: 10px;
}

.row input {
    width: 50%;
}

.stars {
    color: orange;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.required{
    color: red;
    font-size: 14px;
}


th, td {
    text-align: center;
    padding: 8px;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.purchase{
    background-color: #f2f2f2;
}
.company-overall{
background-color: #f2f2f2;
}
.buy-from-us-again{
   background-color: #f2f2f2;
}
.recommnad-our-products-to-others{
    background-color: #f2f2f2;
}